/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Roboto&display=swap');
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/cards.css');
@import url('components/footer.css');

/* Utilities */

body,
html {
	height: 100%;
	margin: 0;
	font-family: Open Sans;
}

h1,
h2,
h3,
h4 {
	font-family: Poppins;
}

a {
	text-decoration: none;
}

.text-center {
	text-align: center;
	margin-top: 8px;
}

/* Custom design below! */

section {
	min-height: 400px;
	position: relative;
	background-attachment: fixed;
}

.repeat {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
