.banner {
	font-family: 'Mochiy Pop One', sans-serif;
	display: flex;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../images/background.png');
	min-height: 100%;
	color: white;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	position: relative;
	background-attachment: fixed;
}

.container > p {
	color: #c7a6a6;
}

.banner h1 {
	font-family: 'Azeret Mono', monospace;
	font-size: 2.2em;
}

.banner2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../images/banner2.jpg');
	min-height: 80%;
	position: relative;
	background-attachment: fixed;
	font-family: 'Azeret Mono', monospace;
	font-size: 2em;
}
