section {
    margin-top: 50px;
    font-family: 'Azeret Mono', monospace;
}

.cards {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.card {
    margin: 5px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
}

.card img {
    margin: 15px 5px;
    width: 90%;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
}

img {
    border-radius: 10px;
}

.card p {
    color: #c7a6a6
}